mixin form-change-multi(path)
  form(
    action=path
    method="POST"
    form-change-multi
  )
    .d-flex.align-item-carts
      .form-group
        select(name="type" class="form-control")
          option(disabled) -- Choose action --
          option(value="active") Active
          option(value="inactive") Inactive
          option(value="delete-all") Delete all
      .form-group
        input(
          type="text"
          name="ids"
          value=""
          class="form-control"
        )
      button(type="submit" class="btn btn-primary") Apply
